export(
  j2,
  p2
)

# used internally - not intended to be visible to users
# j2 model
# llj2
# p2model
# llp2
# effectiveEst

importFrom("mvtnorm", "dmvnorm", "dmvt", "rmvnorm")
importFrom("stats", "cov", "model.matrix", "quantile", "rWishart",
           "runif", "sd", "var")
importFrom("MASS", "ginv")
#importFrom("utils", "txtProgressBar")